Lab

1. Import openAI dependences (load with conda install openai)

In [3]:
from pandasai import SmartDataframe
import pandas as pd
from pandasai.llm import OpenAI
import warnings

2. Use the API Key from openAI page

In [4]:
#Add our API Key copied from openAI page
llm = OpenAI(api_token="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")

3. Set other settings of envoirement

In [5]:
# Source to download the DataFrame: https://www.kaggle.com/datasets/asaniczka/video-game-sales-2024

# Complete route (once you download previously)
#csv_file = r"C:\Users\Ezequiel\Desktop\Proyectos\Coderhouse\Generacion de Prompts\Aplicaciones avanzadas de Prompt\vgchartz-2024.csv"
csv_file = "SampleSuperstore.csv"

# Read the file as a DataFrame
df_from_csv_file = pd.read_csv(csv_file)

In [7]:
# DataFrame
df_from_csv_file

,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit
0,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,261.9600,2,0.00,41.9136
1,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,731.9400,3,0.00,219.5820
2,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,14.6200,2,0.00,6.8714
3,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,957.5775,5,0.45,-383.0310
4,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,25.2480,3,0.20,4.1028
9990,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,91.9600,2,0.00,15.6332
9991,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,258.5760,2,0.20,19.3932
9992,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,29.6000,4,0.00,13.3200
9993,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,243.1600,2,0.00,72.9480

4. Transform the DataFrame to an Artificial Intelligence Dataframe

In [9]:
# Make the DataFrame to an Artificial Intelligence Dataframe
ai_df = SmartDataframe(df_from_csv_file, config={"llm": llm})

4.1 Filter by a column (e.g. sum of sales -> city)

In [10]:
#Chat = Receive as a block of answers (Dataframe or text)
ai_df.chat("Return the sum of sales per city and show me the city, state, country and the new column named total_sales, order by sales")

              City         State        Country  total_sales
380  New York City      New York  United States   256368.161
312    Los Angeles    California  United States   175851.341
517        Seattle    Washington  United States   119540.742
503  San Francisco    California  United States   112669.092
430   Philadelphia  Pennsylvania  United States   109077.013
..             ...           ...            ...          ...
408   Ormond Beach       Florida  United States        2.808
425      Pensacola       Florida  United States        2.214
257        Jupiter       Florida  United States        2.064
162         Elyria          Ohio  United States        1.824
1          Abilene         Texas  United States        1.392

[604 rows x 4 columns]

In [11]:
#Show the last code to analyse
print(ai_df.last_code_generated)

df = dfs[0]
result_df = df.groupby(['City', 'State', 'Country']).agg({'Sales': 'sum'}).reset_index()
result_df.rename(columns={'Sales': 'total_sales'}, inplace=True)
result_df.sort_values('total_sales', ascending=False, inplace=True)
result = {'type': 'dataframe', 'value': result_df}

4.2 Filter by a column (e.g. sum of sales -> city)

In [16]:
#Chat = Receive as a block of answers (Dataframe or text)
ai_df.chat("Return the sum of sales per category ordered by sales and for each of them give me the most common subcategory for that category")

          Category  Total Sales Most Common Subcategory
2       Technology  836154.0330                  Phones
0        Furniture  741998.7953             Furnishings
1  Office Supplies  719047.0320                 Binders

In [17]:
#Show the last code to analyse
print(ai_df.last_code_generated)

df = dfs[0]
sales_per_category = df.groupby('Category')['Sales'].sum().reset_index()
most_common_subcategory = df.groupby('Category')['Sub-Category'].agg(lambda x: x.value_counts().index[0]).reset_index()
result_df = pd.merge(sales_per_category, most_common_subcategory, on='Category')
result_df.columns = ['Category', 'Total Sales', 'Most Common Subcategory']
result_df = result_df.sort_values('Total Sales', ascending=False)
result = {'type': 'dataframe', 'value': result_df}

5. Make an application that answer questions about the Data Base (DF)

In [21]:
#Chat = Receive as a block of answers (Dataframe or text)
while True:
    user_input = input("What is your question about the Data Base? (If you not have once press 'q' to finish the program")
    if user_input.lower() != 'q':
       result = ai_df.chat(user_input)
       print("-----------------------------")
       print(result)
       print(ai_df.last_code_generated)
       print("-----------------------------")
    else:
        break;
print("Thanks for use the DataBase chatbot")

What is your question about the Data Base? (If you not have once press 'q' to finish the program Which is the city that have more sales?

-----------------------------
The city with the highest sales is New York City.
city_sales = dfs[0].groupby('City')['Sales'].sum().reset_index()
city_with_more_sales = city_sales.loc[city_sales['Sales'].idxmax(), 'City']
result = {'type': 'string', 'value': f'The city with the highest sales is {city_with_more_sales}.'}
-----------------------------

What is your question about the Data Base? (If you not have once press 'q' to finish the program If New York City is the highest sales city, count me the total of sales

-----------------------------
256368.161
highest_sales_city = dfs[0]['City'].value_counts().idxmax()
total_sales = dfs[0][dfs[0]['City'] == highest_sales_city]['Sales'].sum()
result = {'type': 'number', 'value': total_sales}
-----------------------------

What is your question about the Data Base? (If you not have once press 'q' to finish the program What is the city in which the most discounts are made?

-----------------------------
The city with the most discounts is Philadelphia.
discounts_by_city = dfs[0].groupby('City')['Discount'].sum().reset_index()
city_with_most_discounts = discounts_by_city.loc[discounts_by_city['Discount'].idxmax(), 'City']
result = {'type': 'string', 'value': f'The city with the most discounts is {city_with_most_discounts}.'}
-----------------------------

What is your question about the Data Base? (If you not have once press 'q' to finish the program q

Thanks for use the DataBase chatbot